<div data-ng-controller="HenryCtrl">

	<div class="about">
		<div class="divider"></div>
		<img src="images/Henry/henry_photo.jpg" class="circular">
		<div class="about-text">
			{{ about }}
		</div>
	</div>
		
	<div class="work">
		<div class="col-1-1">
			<img src="images/Henry/fbcover_henry.jpg" class="rectangular-work pic">			
		</div>
		<div class="col-1-1">
			<img src="images/Henry/logo_henry.jpg" class="pic">
		</div>
		<div class="col-1-1">
			<img src="images/Henry/hbp_henry.jpg" class="pic">
		</div>
	</div>

</div>