<div class="head">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script src="./libs/js/masonry.pkgd.min.js"></script>
</div>

<body>
	<div class="home-page" ng-controller="HomeCtrl">
		<div class="container">
			<div class="col-1-5">
				<img src="images/Brendon/GRUNGY_SHOE_BRENDON.jpg" class="item">
				<img src="images/Brendon/VRB-BRENDON.jpg" class="item">
				<img src="images/Deena/deena-tshirtdraf.jpg" class="item">
				<img src="images/Joyce/flyer_fruitfulmind_joyce.jpg" class="item">
				<img src="images/Deena/shirt_deena.jpg" class="item">
			</div>
			<div class="col-1-5">
				<img src="images/Deena/flyer_deena.png" class="item">
				<img src="images/Henry/fbcover_henry.jpg" class="rectangular-work item">
				<img src="images/Henry/logo_henry.jpg" class="item">
				<img src="images/Henry/hbp_henry.jpg" class="item">
				<img src="images/Krista/logo_krista3.jpg" class="item">
			</div>
			<div class="col-1-5">
				<img src="images/Jerry/fruitful_minds_cover_jerry.jpg" class="item">
				<img src="images/Jerry/vrlogo_jerry.jpg" class="item">
				<img src="images/Jerry/vrlogo_jerry2.jpg" class="item">
				<img src="images/Joyce/vr_logo_joyce.jpg" class="item">
				<img src="images/Krista/tshirt_krista2.jpg" class="item">
			</div>
			<div class="col-1-5">
				<img src="images/Joyce/hbp_joyce.jpg" class="item">
				<img src="images/Deena/logo_deena.jpg" class="item">
				<img src="images/Krista/logo_krista1.jpg" class="item">
				<img src="images/Krista/logo_krista2.jpg" class="item">
			</div>
			<div class="col-1-5">
				<img src="images/Sonia/hpb_sonia.jpg" class="item">
				<img src="images/Sonia/vrb_sonia.jpg" class="item">
				<img src="images/Sonia/logo_fruitfulminds_sonia.jpg" class="item">
				<img src="images/Sonia/logo_fruitfulminds_sonia2.jpg" class="item">
			</div>	
		</div>
	</div>	
</body>
