<div data-ng-controller="JerryCtrl">

	<div class="about">
		<div class="divider"></div>
		<img src="images/Jerry/jerry_photo.jpg" class="circular">
		<div class="about-text">
			{{ about }}
		</div>
	</div>
		
	<div class="work">
		<div class="col-1-1">
			<img src="images/Jerry/fruitful_minds_cover_jerry.jpg" class="pic">			
		</div>
		<div class="col-1-1">
			<img src="images/Jerry/vrlogo_jerry.jpg" class="pic">	
		</div>
		<div class="col-1-1">
			<img src="images/Jerry/vrlogo_jerry2.jpg" class="pic">	
		</div>
	</div>

</div>
