<div data-ng-controller="KristaCtrl">

	<div class="about">
		<div class="divider"></div>
		<img src="images/Krista/krista_photo.jpg" class="circular">
		<div class="about-text">
			{{ about }}
		</div>
	</div>
		
	<div class="work">
		<div class="col-1-1">
			<img src="images/Krista/logo_krista1.jpg" class="pic">	
		</div>
		<div class="col-1-1">
			<img src="images/Krista/logo_krista2.jpg" class="pic">	
		</div>
		<div class="col-1-1">
			<img src="images/Krista/logo_krista3.jpg" class="pic">	
		</div>
		<div class="col-1-1">
			<img src="images/Krista/tshirt_krista2.jpg" class="pic">
		</div>
	</div>

</div>