<div data-ng-controller="SoniaCtrl">

	<div class="about">
		<div class="divider"></div>
		<img src="images/Sonia/sonia_photo.jpg" class="circular">
		<div class="about-text">
			{{ about }}
		</div>
	</div>
		
	<div class="work">
		<div class="col-1-1">
			<img src="images/Sonia/hpb_sonia.jpg" class="pic">	
		</div>
		<div class="col-1-1">
			<img src="images/Sonia/vrb_sonia.jpg" class="pic">	
		</div>
		<div class="col-1-1">
			<img src="images/Sonia/logo_fruitfulminds_sonia.jpg" class="pic">	
		</div>
		<div class="col-1-1">
			<img src="images/Sonia/logo_fruitfulminds_sonia2.jpg" class="pic">
		</div>
	</div>

</div>