// Styles for Home Page
.home-page {
	.container {
		width: 85%;
		margin-left: auto;
		margin-right: auto;	
		padding-bottom: 50px;
		
		.col-1-5 {
			width: 19.6%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			.item {
				width: 260px;
				border: 2px #e6e6e6 solid;
				border-radius: 3px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		
	}

	
}